<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blackHorse3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{107,107}</string>
                <key>spriteSourceSize</key>
                <string>{125,125}</string>
                <key>textureRect</key>
                <string>{{565,1437},{107,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blackKing3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{111,113}</string>
                <key>spriteSourceSize</key>
                <string>{125,125}</string>
                <key>textureRect</key>
                <string>{{1,1437},{111,113}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>blackOfficer3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,3}</string>
                <key>spriteSize</key>
                <string>{111,111}</string>
                <key>spriteSourceSize</key>
                <string>{125,125}</string>
                <key>textureRect</key>
                <string>{{231,1437},{111,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blackPawn3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{80,103}</string>
                <key>spriteSourceSize</key>
                <string>{126,125}</string>
                <key>textureRect</key>
                <string>{{758,1437},{80,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blackQueen3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{124,115}</string>
                <key>spriteSourceSize</key>
                <string>{126,125}</string>
                <key>textureRect</key>
                <string>{{840,1365},{124,115}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>blackRook3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{93,101}</string>
                <key>spriteSourceSize</key>
                <string>{125,125}</string>
                <key>textureRect</key>
                <string>{{957,1420},{93,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chessBoard3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1150,1150}</string>
                <key>spriteSourceSize</key>
                <string>{1150,1150}</string>
                <key>textureRect</key>
                <string>{{1,1},{1150,1150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>promotionTable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{769,282}</string>
                <key>spriteSourceSize</key>
                <string>{769,282}</string>
                <key>textureRect</key>
                <string>{{1,1153},{769,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>undoButtonNormal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,160}</string>
                <key>spriteSourceSize</key>
                <string>{210,160}</string>
                <key>textureRect</key>
                <string>{{772,1153},{210,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>undoButtonSelected.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,150}</string>
                <key>spriteSourceSize</key>
                <string>{190,150}</string>
                <key>textureRect</key>
                <string>{{934,1153},{190,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>whiteHorse3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{108,107}</string>
                <key>spriteSourceSize</key>
                <string>{126,125}</string>
                <key>textureRect</key>
                <string>{{456,1437},{108,107}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>whiteKing3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{111,113}</string>
                <key>spriteSourceSize</key>
                <string>{125,125}</string>
                <key>textureRect</key>
                <string>{{116,1437},{111,113}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>whiteOfficer3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{110,111}</string>
                <key>spriteSourceSize</key>
                <string>{126,125}</string>
                <key>textureRect</key>
                <string>{{344,1437},{110,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>whitePawn3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{82,103}</string>
                <key>spriteSourceSize</key>
                <string>{126,125}</string>
                <key>textureRect</key>
                <string>{{674,1437},{82,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>whiteQueen3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{124,113}</string>
                <key>spriteSourceSize</key>
                <string>{126,125}</string>
                <key>textureRect</key>
                <string>{{957,1305},{124,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>whiteRook3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{92,101}</string>
                <key>spriteSourceSize</key>
                <string>{126,125}</string>
                <key>textureRect</key>
                <string>{{1052,1420},{92,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>texture.png</string>
            <key>size</key>
            <string>{1152,1549}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:95501e659f39057cea3651ce132e32be:b47f501f5370af5a0be1388562b502e2:ef86396999e18097aad14daa6638d5f9$</string>
            <key>textureFileName</key>
            <string>texture.png</string>
        </dict>
    </dict>
</plist>
